@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Red theme colors */
  --color1: #ff9494;
  --color2: #f06363;
  --color3: #9c3535;
  --color4: #5f1c1c;
  --color5: #250a0a;
  --bg-img1: url('/images/bg/background.jpg');
  --bg-img2: url('/images/bg/footer_bg.jpg');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3b3737;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-img1) no-repeat top, var(--bg-img2) no-repeat bottom;
  background-color:#0a0a0a;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: '';
  height: 1px;
  display: block;
  background: linear-gradient(to right, var(--color1), var(--color3), var(--color1));
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #111;
}

@keyframes scrollrealtimes {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* Game card styles */
.game-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all 300ms;
}

.game-card::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 3px;
  background: linear-gradient(#504b4b, #60301a);
  -webkit-mask: 
    linear-gradient(#e4c8a3 0 0) content-box, 
    linear-gradient(#e4c8a3 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: background 100ms;
  z-index: 1;
}

.game-card:hover {
  border-radius: 50%;
  transform: translateY(-10px);
  transition-property: transform;
  transition-duration: 300ms;
}

.game-card:hover::before {
  background: #ef4444;
}

.game-card:hover::after {
  content: '';
  cursor: pointer;
  display: block;
  border-top: solid 1px #ff7575;
  background-image: linear-gradient(rgba(34, 4, 4, 0.5), rgba(42, 12, 12, 0.5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  top: 8px;
  left: 8px;
  position: absolute;
  border-radius: 51%;
  transition: 0.3s;
  z-index: 2;
}

.game-card-main {
  object-fit: cover;
  width: 100%;
}

.game-card-logo-container {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  transition: background 300ms;
}

.game-card-logo {
  position: absolute;
  max-width: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
  max-height: 80px;
}
