@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Red theme colors */
  --color1: #ff9494;
  --color2: #f06363;
  --color3: #9c3535;
  --color4: #5f1c1c;
  --color5: #250a0a;
  --bg-img1: url('/images/bg/background.jpg');
  --bg-img2: url('/images/bg/footer_bg.jpg');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-img1) no-repeat top, var(--bg-img2) no-repeat bottom;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: '';
  height: 1px;
  display: block;
  background: linear-gradient(to right, var(--color1), var(--color3), var(--color1));
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #111;
}

@keyframes scrollrealtimes {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
