@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Blue theme colors */
  --color1: #b5f4fe;
  --color2: #33e1ea;
  --color3: #0b8dad;
  --color4: #04336d;
  --color5: #021540;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url('/images/bg/bg2.png');
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: center top;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: '';
  height: 5px;
  display: block;
  background: linear-gradient(to right, #b5dbfe, #fed9fe, #568abe);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #111;
}

@keyframes scrollrealtimes {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
